body {
    background-image: url("imgs/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.letraProducto{
    font-family:'Oswald', sans-serif;
}

.contenedor-objetos{
    backdrop-filter: blur(10px);
    box-shadow: 5px 8px 15px 2px;
}

.btn-Producto{
    cursor: pointer;
}